<section ng-repeat="movie in movies">
	<div>
		<div>
			<div>
				<div>
					<div>
						<span>Genre</span>
						<div>{{movie.title}}</div>
					</div>
					<div>
						<span>Year</span>
						<div>{{movie.year}}</div>
					</div>
					<div>
						<input type="text">
					</div>
				</div>
				<div>
					<div>
						<input type="radio">
						<label>Movies</label>
					</div>
					<div>
						<input type="radio">
						<label>Books</label>
					</div>
					<div >
						<a href="#">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div>
			<div>
				<ul></ul>
			</div>
		</div>
	</div>
</section>